.jumbotron {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://ewscripps.brightspotcdn.com/dims4/default/326f992/2147483647/strip/true/crop/1235x694+1+517/resize/1280x720!/quality/90/?url=http%3A%2F%2Fewscripps-brightspot.s3.amazonaws.com%2F97%2Ff0%2F27627e46429fa3797788a34e48a6%2Fthe-taco-stand-la-jolla-tacos.jpeg");
  /* background-image: url("https://ewscripps.brightspotcdn.com/dims4/default/326f992/2147483647/strip/true/crop/1235x694+1+517/resize/1280x720!/quality/90/?url=http%3A%2F%2Fewscripps-brightspot.s3.amazonaws.com%2F97%2Ff0%2F27627e46429fa3797788a34e48a6%2Fthe-taco-stand-la-jolla-tacos.jpeg"); */
  background-size: cover;
  height: 70vh;
}
